In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/content/50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        108 non-null    float64
 1   Administration   108 non-null    float64
 2   Marketing Spend  108 non-null    float64
 3   State            108 non-null    object
 4   Profit           108 non-null    float64
dtypes: float64(4), object(1)
memory usage: 4.3+ KB

In [4]:
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [5]:
df['State'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
le = LabelEncoder()

In [8]:
df['State'] = le.fit_transform(df['State'])

In [9]:
df['State'].unique()

array([2, 0, 1])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        108 non-null    float64
 1   Administration   108 non-null    float64
 2   Marketing Spend  108 non-null    float64
 3   State            108 non-null    int64
 4   Profit           108 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 4.3 KB

In [12]:
x = df.drop('Profit',axis=1)
x.head()

   R&D Spend  Administration  Marketing Spend  State
0  165349.20       136897.80        471784.10      2
1  162597.70       151377.59        443898.53      0
2  153441.51       101145.55        407934.54      1
3  144372.41       118671.85        383199.62      2
4  142107.34        91391.77        366168.42      1

In [13]:
y = df['Profit']
y

0      192261.83
1      191792.06
2      191050.39
3      182901.99
4      166187.94
         ...
103    132602.65
104    129917.04
105    126992.93
106    125370.37
107    124266.90
Name: Profit, Length: 108, dtype: float64

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=12)

In [18]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [19]:
reg = Sequential()
reg.add(Dense(4,activation='relu'))
reg.add(Dense(12,activation='relu'))
reg.add(Dense(32,activation='relu'))
reg.add(Dense(1,activation='linear'))

In [20]:
reg.compile(optimizer='adam',loss='mse',metrics=['mse'])

In [21]:
reg.fit(xtrain,ytrain,batch_size=10,epochs=25,validation_data=(xtest,ytest))

Epoch 1/25
9/9 [==============================] - 2s 32ms/step - loss: 9257777152.0000 - mse: 9257778176.0000 - val_loss: 8446218752.0000 - val_mse: 8446218752.0000
Epoch 2/25
9/9 [==============================] - 0s 9ms/step - loss: 7399576576.0000 - mse: 7399576576.0000 - val_loss: 6424918528.0000 - val_mse: 6424918528.0000
Epoch 3/25
9/9 [==============================] - 0s 9ms/step - loss: 5508851200.0000 - mse: 5508851200.0000 - val_loss: 4487260160.0000 - val_mse: 4487260160.0000
Epoch 4/25
9/9 [==============================] - 0s 8ms/step - loss: 3695524352.0000 - mse: 3695524096.0000 - val_loss: 2791601920.0000 - val_mse: 2791601920.0000
Epoch 5/25
9/9 [==============================] - 0s 7ms/step - loss: 2226550272.0000 - mse: 2226550272.0000 - val_loss: 1474957824.0000 - val_mse: 1474957824.0000
Epoch 6/25
9/9 [==============================] - 0s 9ms/step - loss: 1076765312.0000 - mse: 1076765312.0000 - val_loss: 668232256.0000 - val_mse: 668232256.0000
Epoch 7/25
9/9 [==============================] - 0s 8ms/step - loss: 480759904.0000 - mse: 480759904.0000 - val_loss: 387864224.0000 - val_mse: 387864224.0000
Epoch 8/25
9/9 [==============================] - 0s 11ms/step - loss: 293543520.0000 - mse: 293543520.0000 - val_loss: 416528288.0000 - val_mse: 416528288.0000
Epoch 9/25
9/9 [==============================] - 0s 8ms/step - loss: 292716448.0000 - mse: 292716448.0000 - val_loss: 439090976.0000 - val_mse: 439090976.0000
Epoch 10/25
9/9 [==============================] - 0s 9ms/step - loss: 281932480.0000 - mse: 281932480.0000 - val_loss: 394920352.0000 - val_mse: 394920352.0000
Epoch 11/25
9/9 [==============================] - 0s 10ms/step - loss: 260798896.0000 - mse: 260798896.0000 - val_loss: 360881472.0000 - val_mse: 360881472.0000
Epoch 12/25
9/9 [==============================] - 0s 7ms/step - loss: 254258464.0000 - mse: 254258464.0000 - val_loss: 339696736.0000 - val_mse: 339696736.0000
Epoch 13/25
9/9 [==============================] - 0s 9ms/step - loss: 248184880.0000 - mse: 248184880.0000 - val_loss: 328172128.0000 - val_mse: 328172128.0000
Epoch 14/25
9/9 [==============================] - 0s 7ms/step - loss: 241791264.0000 - mse: 241791264.0000 - val_loss: 322197024.0000 - val_mse: 322197056.0000
Epoch 15/25
9/9 [==============================] - 0s 8ms/step - loss: 234529024.0000 - mse: 234529024.0000 - val_loss: 317716608.0000 - val_mse: 317716608.0000
Epoch 16/25
9/9 [==============================] - 0s 7ms/step - loss: 230670240.0000 - mse: 230670240.0000 - val_loss: 304318688.0000 - val_mse: 304318688.0000
Epoch 17/25
9/9 [==============================] - 0s 8ms/step - loss: 226422528.0000 - mse: 226422528.0000 - val_loss: 298879776.0000 - val_mse: 298879776.0000
Epoch 18/25
9/9 [==============================] - 0s 9ms/step - loss: 220070928.0000 - mse: 220070928.0000 - val_loss: 285738080.0000 - val_mse: 285738080.0000
Epoch 19/25
9/9 [==============================] - 0s 7ms/step - loss: 218503664.0000 - mse: 218503664.0000 - val_loss: 269471104.0000 - val_mse: 269471104.0000
Epoch 20/25
9/9 [==============================] - 0s 9ms/step - loss: 213175280.0000 - mse: 213175280.0000 - val_loss: 267761392.0000 - val_mse: 267761392.0000
Epoch 21/25
9/9 [==============================] - 0s 8ms/step - loss: 210360128.0000 - mse: 210360128.0000 - val_loss: 263566736.0000 - val_mse: 263566736.0000
Epoch 22/25
9/9 [==============================] - 0s 8ms/step - loss: 208335296.0000 - mse: 208335296.0000 - val_loss: 253359760.0000 - val_mse: 253359760.0000
Epoch 23/25
9/9 [==============================] - 0s 9ms/step - loss: 205702784.0000 - mse: 205702784.0000 - val_loss: 243307824.0000 - val_mse: 243307824.0000
Epoch 24/25
9/9 [==============================] - 0s 9ms/step - loss: 204498752.0000 - mse: 204498752.0000 - val_loss: 239219696.0000 - val_mse: 239219696.0000
Epoch 25/25
9/9 [==============================] - 0s 9ms/step - loss: 202670816.0000 - mse: 202670816.0000 - val_loss: 240104432.0000 - val_mse: 240104432.0000

In [22]:
reg.predict([[123123,345345,2343241,2]])

1/1 [==============================] - 0s 132ms/step

array([[580483.56]], dtype=float32)